<div>
	<form action="/users" method="post">
		  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

		<table>
			<tr>
				<td>
					<p>name:</p>
				</td>
				<td>
					<input type="text" name="name">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" name="">
				</td>
			</tr>
		</table>
	</form>
</div>