<form action="/" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<table>
	<tr>
		<td>
			<p>Your Name:</p>
		</td>
		<td>
			<input type="text" name="name">
		</td>
	</tr>
	<tr>
		<td>
			<p>Dojo Location:</p>
		</td>
		<td>
			<select name="location">
				<option value="Earth">Earth</option>
				<option value="Saturn">Saturn</option>
				<option value="Mars">Mars</option>
				<option value="Moon">Moon</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<p>Favorite Language:</p>
		</td>
		<td>
			<select name="language">
				<option value="Ruby">Ruby</option>
				<option value="Python">Python</option>
				<option value="JavaScript">JavaScript</option>
				<option value="R">R</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<p>Comment:</p>
		</td>
		<td>
			<input type="text" name="comment">
		</td>
	</tr>
	<tr>
		<input type="submit" name="">
	</tr>
</table>
</form>