<table>
	<tr>
		<td>
			<p>Your Name:</p>
		</td>
		<td>
			<p><%=@dojo.name%></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Dojo Location:</p>
		</td>
		<td>
			<p><%=@dojo.location%></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Favorite Language:</p>
		</td>
		<td>
			<p><%=@dojo.lang%></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Comment:</p>
		</td>
		<td>
			<p><%=@dojo.comment%></p>
		</td>
	</tr>
</table>
